@using System.Collections.Generic
@{
    ViewData["Title"] = "Browse Images";
}
<h2>@ViewData["Title"]</h2>

@model List<Image>
@foreach(var x in Model)
{
    <div>
        <img src="@x.Link" width="100" height="100"/>
        @x.Name
    </div>
}