@using System.Collections.Generic
@{
    ViewData["Title"] = "Browse Images";
}
<h2>@ViewData["Title"]</h2>

<div id="div_table_container">
    @model List<Image>
    @foreach (var x in Model)
    {
        <div class="div_table_cell">
            <a href="Image/@x.ID-@x.Name">
                <img src="@x.Link" style="max-height:100px; max-width:100px;" /><br />
                @x.Name
            </a>
        </div>
    }
</div>