<!--{
    ViewData["Title"] = "About";
}
<h2>ViewData["Title"]</h2>-->

@ViewData["Message"]
@model UploadedImage
<form action="/Home/Upload" method="post">
    <!--Select upload moethod-->
    <input type="radio" name="image_choice" value="uplaod" id="upload" checked />
    <label for="upload">Upload Image:</label>
    <input asp-for="uploaded_img" />
    <br />
    <input type="radio" name="image_choice" value="link" id="link" />
    <label for="link">Link Image:</label>
    <br /><input asp-for="linked_img" />
    <br />

    <!--Set access-->
    Access type:
    <select asp-for="access"></select>
    <br />

    <!--Comments-->
    Allow Commenting <input asp-for="comment" />
    <br />

    <!--Likes-->
    Allow Liking <input asp-for="like" />
    <br />

    <!--Submit-->
    <input type="submit" value="Save">
</form>